<div class="container-fluid">
  <div class="row">
    <nav class="left col-2">
      <a class="logo d-block my-5 text-center" href="#">
        <img src="../img/logo.svg" alt="logo" />
      </a>
      <ul class="flex-column p-0">
        <li>
          <a class="item d-flex align-items-center p-3 m-1" href="#">
            <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
          </a>
        </li>
        <li>
          <a class="item d-flex align-items-center p-3 m-1" href="#">
            <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-02" /> Product
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="item d-flex align-items-center p-3 m-1" href="#">
            <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-02" /> Product
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="item d-flex align-items-center p-3 m-1" href="#">
            <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-02" /> Product
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="item d-flex align-items-center p-3 m-1" href="#">
            <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-02" /> Product
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="item d-flex align-items-center p-3 m-1" href="#">
            <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-02" /> Product
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
      <div class="manager d-flex">
        <img src="../img/manager.svg" alt="Manager" />
        <h2>
          Evano <br />
          <span>Project Manager</span>
        </h2>
      </div>
    </nav>
    <div class="burger-menu">
      <a href="" class="burger-menu_button">
        <spun class="burger-menu_lines"></spun>
      </a>
      <nav class="burger-menu_nav">
        <a class="item d-flex align-items-center justify-content-center p-3 m-1" href="#">
          <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
        </a>
        <a class="item d-flex align-items-center justify-content-center p-3 m-1" href="#">
          <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
        </a>
        <a class="item d-flex align-items-center justify-content-center p-3 m-1" href="#">
          <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
        </a>
        <a class="item d-flex align-items-center justify-content-center p-3 m-1" href="#">
          <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
        </a>
        <a class="item d-flex align-items-center justify-content-center p-3 m-1" href="#">
          <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
        </a>
        <a class="item d-flex align-items-center justify-content-center p-3 m-1" href="#">
          <img class="pe-3" src="../img/left-icon/key-square.svg" alt="item-01" /> Dashboard
        </a>
        <div class="manager d-flex">
          <img src="../img/manager.svg" alt="Manager" />
          <h2>
            Evano <br />
            <span>Project Manager</span>
          </h2>
        </div>
      </nav>

      <div class="burger-menu_overlay"></div>
    </div>

    <main class="right col-10">
      <h2 class="py-5">Hello Evano 👋🏼</h2>
      <div class="content p-5 rounded">
        <div class="content__top d-flex justify-content-between align-items-center">
          <div class="title">
            <h2>All Customers</h2>
            <p>Active Members</p>
          </div>
          <div class="search position-relative">
            <input type="text " placeholder="Search" />
          </div>
        </div>
        <div class="content__main">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Company</th>
                <th scope="col">Company</th>
                <th scope="col">Company</th>
                <th scope="col">Company</th>
                <th scope="col">Company</th>
              </tr>
            </thead>
            <tbody>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
              <tr valign="middle">
                <td>Jane Cooper</td>
                <td>Microsoft</td>
                <td>(225) 555-0118</td>
                <td>jane@microsoft.com</td>
                <td>United States</td>
                <td><div class="active text-center">Active</div></td>
              </tr>
            </tbody>
          </table>
          <div class="content__bottom d-flex justify-content-between">
            <p>Showing data 1 to 8 of 256K entries</p>
            <div class="numbers">
              <ul class="d-flex justify-content-around">
                <li>
                  <a class="p-1 mx-1" href="#"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li>
                  <a class="p-1 mx-1" href="#">1</a>
                </li>
                <li>
                  <a class="p-1 mx-1" href="#">2</a>
                </li>
                <li>
                  <a class="p-1 mx-1" href="#">3</a>
                </li>
                <li>
                  <a class="p-1 mx-1" href="#">4</a>
                </li>
                <li>
                  <a class="mx-1" href="#">...</a>
                </li>
                <li>
                  <a class="p-1 mx-1" href="#">40</a>
                </li>
                <li>
                  <a class="p-1 mx-1" href="#"><i class="fa-solid fa-angle-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
