<div class="dashboard">
 <aside class="bar">
  <div class="bar__logo">
   <a href="#">
    <img src="../img/bar/logo.svg" alt="logo" />
   </a>
  </div>
  <div class="bar__items">
   <div class="item">
    <a href="#">
     <img src="../img/bar/dashboard-left/01.svg" alt="01" />
     Dashboard
    </a>
   </div>
   <div class="item">
    <a href="#">
     <img src="../img/bar/dashboard-left/01.svg" alt="01" />
     <h4>Dashboard</h4>
    </a>
   </div>
   <div class="item">
    <a href="#">
     <img src="../img/bar/dashboard-left/01.svg" alt="01" />
     <h4>Dashboard</h4>
    </a>
   </div>
   <div class="item">
    <a href="#">
     <img src="../img/bar/dashboard-left/01.svg" alt="01" />
     <h4>Dashboard</h4>
    </a>
   </div>
   <div class="item">
    <a href="#">
     <img src="../img/bar/dashboard-left/01.svg" alt="01" />
     <h4>Dashboard</h4>
    </a>
   </div>
   <div class="item">
    <a href="#">
     <img src="../img/bar/dashboard-left/01.svg" alt="01" />
     <h4>Dashboard</h4>
    </a>
   </div>
  </div>
 </aside>
 <section class="content">
  <div class="content__title">
   <h2>Hello Evano 👋🏼,</h2>
  </div>
  <div class="customer">
   <div class="customer__top">
    <div class="title">
     <h2>All Customers</h2>
     <p>Active Members</p>
    </div>
    <div class="search">
     <input type="text" placeholder="search" />
    </div>
   </div>
   <div class="customer__main">
    <div class="kategory">
     <p>Customer Name</p>
     <p>Company</p>
     <p>Phone Number</p>
     <p>Email</p>
     <p>Country</p>
     <p>Status</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
    <div class="item">
     <p>Jane Cooper</p>
     <p>Microsoft</p>
     <p>(225) 555-0118</p>
     <p>jane@microsoft.com</p>
     <p>United States</p>
     <p>Active</p>
    </div>
   </div>
  </div>
 </section>
</div>
