.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .left {
    display: none;
  }
  .burger-menu {
    display: block;
    a {
      color: white;
    }
  }

  .right {
    width: 100%;
    .content {
      margin: 0;
    }
  }
}

@media (max-width: 991px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }

  td {
    border-bottom: none;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .burger-menu_nav {
    width: 60%;
  }
}

@media (max-width: 320px) {
}
